# First step
### APOD

# Second Step
### NeoWs

# ðŸš€ NASA Near-Earth Objects Data Fetcher
 #### This project demonstrates how to consume NASAâ€™s Near-Earth Object Web Service (NeoWs) API using Python.
It retrieves asteroid data for a given date, processes the results, and stores them in a pandas DataFrame for easy analysis.

## ðŸ“Œ Features
Connects to NASAâ€™s NeoWs API using your personal API key.

Fetches asteroid data starting from a given date.

Extracts key information:

Asteroid ID

Asteroid Name

Minimal Estimated Diameter (km)

Absolute Magnitude

Relative Velocity (km/s)

Stores the results in a pandas DataFrame for further analysis or export.

In [ ]:
import requests
import pandas as pd

# -------------------------------
# NASA Near-Earth Objects (NEO) Data Fetcher
# -------------------------------
# This script connects to NASA's public API to fetch information
# about asteroids (Near-Earth Objects) for a given date.
# It then processes the data and stores it in a pandas DataFrame.
# -------------------------------

# API setup
api_key = "06eep2zIeAW1em545Py8nk1weyDLhmRt5bYh1PXI"   # Your personal NASA API key
base_url = "https://api.nasa.gov/neo/rest/v1/feed?"   # Base URL for the NEO feed endpoint

# Parameters for the API request
parameters = {
    "api_key": api_key,        # Required to authenticate with NASA's API
    "start_date": "2026-01-01" # Date from which to start fetching asteroid data
}

# Sending the GET request to NASA API
response = requests.get(base_url, params=parameters)

# Print the HTTP status code to check if the request was successful
print(response.status_code)

# If the response is successful (status code 200), parse the JSON data
if response.status_code == 200:
    neo_data = response.json()   # Convert response into a Python dictionary
else:
    print("Error:", response.status_code)  # Print error if request fails

# -------------------------------
# Extract asteroid details
# -------------------------------
asteroids = []  # Empty list to store asteroid data

# Loop through each date in the "near_earth_objects" dictionary
for date in neo_data["near_earth_objects"]:
    # Loop through each asteroid for that date
    for asteroid in neo_data["near_earth_objects"][date]:
        # Append relevant asteroid details to the list
        asteroids.append({
            "asteroid_id": asteroid["id"],   # Unique asteroid ID
            "asteroid_name": asteroid["name"],   # Asteroid name
            "Minimal estimated diameter (km)": asteroid["estimated_diameter"]["kilometers"]["estimated_diameter_min"], # Smallest estimated diameter
            "Absolute_magnitude": asteroid["absolute_magnitude_h"],   # Brightness measure
            "relative_veolocity(km/s)": asteroid["close_approach_data"][0]['relative_velocity']["kilometers_per_second"] # Speed relative to Earth
        })

# -------------------------------
# Create a DataFrame
# -------------------------------
df = pd.DataFrame(asteroids)  # Convert list of asteroid dictionaries into a pandas DataFrame

# Display the DataFrame (in Jupyter Notebook or interactive environment)
df

200

,asteroid_id,asteroid_name,Minimal estimated diameter (km),Absolute_magnitude,relative_veolocity(km/s)
0,2259221,259221 (2003 BA21),0.385971,19.190,26.1105374233
1,3022973,(1999 TN13),0.050647,23.600,15.4879238458
2,3837745,(2019 AR7),0.012149,26.700,16.8784948402
3,54215203,(2021 VF),0.007154,27.850,7.8920920061
4,54297798,(2022 QN5),0.018137,25.830,20.9447912436
...,...,...,...,...,...
107,54569026,(2025 YB3),0.040064,24.109,8.5771964878
108,54569037,(2025 YK3),0.077082,22.688,16.4967199406
109,54569584,(2025 YL4),0.012324,26.669,9.8181368067
110,54569585,(2025 YM4),0.021855,25.425,12.793676603
111,54569591,(2025 YT4),0.032761,24.546,17.0985129568

In [6]:
df.to_csv("result.csv")